<div class="drop-down drop-down--phone">
    <div class="drop-down__main">
        <a href="#" class="drop-down__link">+375(29)671-12-65</a>
        <div class="drop-down__arrow">
            <svg class="drop-down__arrow-icon">
                <use xlink:href="#b-svg__share"></use>
            </svg>
        </div>
    </div>
    <div class="drop-down__list">
        <a href="#" class="drop-down__item">+375(29)671-12-62</a>
        <a href="#" class="drop-down__item">+375(29)671-12-63</a>
        <a href="#" class="drop-down__item">+375(29)671-12-64</a>
    </div>
</div>