<div class="drop-down drop-down--time">
    <div class="drop-down__main">
        <div class="drop-down__link">Время работы</div>
        <div class="drop-down__arrow">
            <svg class="drop-down__arrow-icon">
                <use xlink:href="#b-svg__share"></use>
            </svg>
        </div>
    </div>
    <div class="drop-down__list">
        <div class="drop-down__item">c 10 до 22</div>
        <div class="drop-down__item">c 10 до 22</div>
        <div class="drop-down__item">c 10 до 22</div>
    </div>
</div>