.drop-down{
	position: relative;
	// pseudo-classes

	// mods
	&--{
		&phone{
			color: $color--primary;
		}
	}
	// pseudo-elements
	&:hover .drop-down__list{
		display: block;
	}
	// elements
	&__{
		&main{
			display: flex;
			align-items: center;
			line-height: 2rem;
			cursor: pointer;
		}
		&list{
			display: none;

			z-index: 3;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);

			min-width: 100%;
			padding: 0 1rem;
			background-color: $color__white;
			box-shadow: 0 1rem 1.25rem rgba(1,1,1,.15);
		}
		&link{
			text-decoration: none;
			color: inherit;
		}
		&item{
			display: block;
			text-align: center;
			line-height: 2rem;
			white-space: nowrap;
			text-decoration: none;
			color: inherit;
		}
		&arrow{
			margin-left: 0.5rem;
			&-{
				&icon{
					max-width: 0.75rem;
					max-height: 0.75rem;
					fill: currentColor;
				}
			}
		}
	}
}