<form action="" class="places">
    <div class="places__head">
        <div class="places__head-checkbox">
            <input type="checkbox" id="system" name="cat" class="places__checkbox">
            <label for="system" class="places__label places__label--head">Системные</label>
        </div>
        <div class="places__head-checkbox">
            <input type="checkbox" id="myplaces" name="cat" class="places__checkbox">
            <label for="myplaces" class="places__label places__label--head">Мои места</label>
        </div>
    </div>
    <div class="places__body places__body--padding">
        <div class="places__cat">
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-plus">+</div>
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
            <div class="places__cat-body">
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 1</div>
                </div>
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 2</div>
                </div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-plus">+</div>
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
            <div class="places__cat-body">
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 1</div>
                </div>
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 2</div>
                </div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-plus">+</div>
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
            <div class="places__cat-body">
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 1</div>
                </div>
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 2</div>
                </div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-plus">+</div>
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
            <div class="places__cat-body">
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 1</div>
                </div>
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 2</div>
                </div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-plus">+</div>
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
            <div class="places__cat-body">
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 1</div>
                </div>
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 2</div>
                </div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-plus">+</div>
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
            <div class="places__cat-body">
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 1</div>
                </div>
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 2</div>
                </div>
            </div>
        </div>
    </div>
    <div class="places__bottom">
        <button class="button places__button">Где я?</button>
        <button class="button places__button places__button--add">Добавить место</button>
    </div>
</form>