<form action="" class="places">
    <div class="places__head">
        <div class="places__head-checkbox">
            <input type="checkbox" id="system" name="cat" class="places__checkbox">
            <label for="system" class="places__label places__label--head">Системные</label>
        </div>
        <div class="places__head-checkbox">
            <input type="checkbox" id="myplaces" name="cat" class="places__checkbox">
            <label for="myplaces" class="places__label places__label--head">Мои места</label>
        </div>
    </div>
    <div class="places__head places__head--friends">
        <div class="places__head-checkbox">
            <input type="checkbox" id="all" name="cat" class="places__checkbox">
            <label for="all" class="places__label places__label--head">Все</label>
        </div>
        <div class="places__head-checkbox">
            <input type="checkbox" id="other" name="cat" class="places__checkbox">
            <label for="other" class="places__label places__label--head">Друзья</label>
        </div>
    </div>
    <div class="places__header">
        <div class="places__header-button button">По алфавиту</div>
        <div class="places__header-button button">Кто рядом?</div>
    </div>
    <div class="places__body">
        <div class="places__cat">
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
        </div>
        <div class="places__cat">
            <div class="places__cat-plus">+</div>
            <div class="places__cat-title">
                <svg class="places__cat-icon">
                    <use xlink:href="#b-svg__item"></use>
                </svg>
                <div class="places__cat-name">Авто</div>
            </div>
            <div class="places__cat-body">
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 1</div>
                </div>
                <div class="places__cat-link">
                    <svg class="places__cat-subicon">
                        <use xlink:href="#b-svg__item"></use>
                    </svg>
                    <div class="places__cat-subname">Место 2</div>
                </div>
            </div>
        </div>
        <div class="places__object">
            <div class="places__object-title">
                <input id="object1" name="objects" type="checkbox" class="places__checkbox">
                <label for="object1" class="places__label places__label--object">Название объекта</label>
            </div>
            <div class="places__object-action">
                <div class="places__object-button">удалить</div>
            </div>
        </div>
        <div class="places__object">
            <div class="places__object-title">
                <input id="object2" name="objects" type="checkbox" class="places__checkbox">
                <label for="object2" class="places__label places__label--object">Название объекта</label>
            </div>
            <div class="places__object-action">
                <div class="places__object-button">восстановить</div>
            </div>
        </div>
        <div class="places__object">
            <div class="places__object-title">
                <input id="object3" name="objects" type="checkbox" class="places__checkbox">
                <label for="object3" class="places__label places__label--object">Название объекта</label>
            </div>
            <div class="places__object-action">
                <div class="places__object-button">удалить</div>
            </div>
        </div>
        <div class="places__man">
            <div class="places__man-link">
                <div class="places__man-preview">
                    <img src=":48x48" alt="" class="places__man-img">
                </div>
                <div class="places__man-name">Имя и фамилия</div>
            </div>
            <div class="places__man-links">
                <import src="links--second"></import>
            </div>
        </div>
        <div class="places__man">
            <div class="places__man-link">
                <div class="places__man-preview">
                    <img src=":48x48" alt="" class="places__man-img">
                </div>
                <div class="places__man-name">Имя и фамилия</div>
            </div>
            <div class="places__man-links">
                <import src="links--second"></import>
            </div>
        </div>
        <div class="places__man">
            <div class="places__man-link">
                <div class="places__man-preview">
                    <img src=":48x48" alt="" class="places__man-img">
                </div>
                <div class="places__man-name">Имя и фамилия</div>
            </div>
            <div class="places__man-links">
                <import src="links--second"></import>
            </div>
        </div>
    </div>
    <div class="places__bottom">
        <button class="button places__button">Где я?</button>
        <button class="button places__button places__button--add">Добавить место</button>
    </div>
</form>