<form action="" class="places">
    <div class="places__header">
        <div class="places__header-button button">По алфавиту</div>
        <div class="places__header-button button">Кто рядом?</div>
    </div>
    <div class="places__body">
        <div class="places__object">
            <div class="places__object-title">
                <input id="object1" name="objects" type="checkbox" class="places__checkbox">
                <label for="object1" class="places__label places__label--object">Название объекта</label>
            </div>
            <div class="places__object-action">
                <div class="places__object-button">удалить</div>
            </div>
        </div>
        <div class="places__object">
            <div class="places__object-title">
                <input id="object2" name="objects" type="checkbox" class="places__checkbox">
                <label for="object2" class="places__label places__label--object">Название объекта</label>
            </div>
            <div class="places__object-action">
                <div class="places__object-button">восстановить</div>
            </div>
        </div>
        <div class="places__object">
            <div class="places__object-title">
                <input id="object3" name="objects" type="checkbox" class="places__checkbox">
                <label for="object3" class="places__label places__label--object">Название объекта</label>
            </div>
            <div class="places__object-action">
                <div class="places__object-button">удалить</div>
            </div>
        </div>
    </div>
    <div class="places__bottom">
        <button class="button places__button">Где я?</button>
        <button class="button places__button places__button--add">Добавить место</button>
    </div>
</form>