.places{
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&head{
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 2.375rem;
			padding: 0 2.25rem;
			background-color: $color--primary;
			&--{
				&friends{
					background-color: $color__gray;
				}
			}
		}
		&header{
			display: flex;
			justify-content: space-between;
			&-{
				&button{
					box-sizing: border-box;
					width: 50%;
					line-height: 2.375rem;
					text-align: center;
					font-size: 0.875rem;
					&:hover{
						text-decoration: underline;
					}
					&:not(:last-child){
						border-right: 1px solid $color--secondary;
					}
					&--{
						&chat{
							line-height: 2rem;
						}
					}
				}
			}
		}
		&checkbox{
			display: none;
			color: $color__font--secondary;
			&:checked + label:before{
				background-color: $color--primary;
			}
		}
		&label{
			position: relative;
			font-family: $font-family--primary;
			cursor: pointer;
			&--{
				&head{
					margin-left: 1.25rem;
					font-size: 0.875rem;
					color: $color__font--secondary;
					&:before{
						border: 3px solid $color--secondary;
						margin-right: 0.5rem;
						border-radius: 2px;
						background-color: $color--secondary;
						background-clip: content-box;
					}
				}
				&object{
					margin-left: 2rem;
					font-size: 1.125rem;
					color: $color__font--primary;
					&:before{
						border: 1px solid $color__gray--light;
						padding: 2px;
						margin-right: 1rem;
						border-radius: 2px;
						background-color: $color--secondary;
						background-clip: content-box;
					}
					&:hover{
						color: $color--primary;
						text-decoration: underline;
						&:before{
							border-color: $color--primary;
						}
					}
				}
			}
			&:before{
				box-sizing: border-box;
				content: "";
				position: absolute;
				top: 50%;
				right: 100%;
				transform: translate(0, -50%);

				width: 0.875rem;
				height: 0.875rem;
			}
		}
		&body{
			box-sizing: border-box;
			height: 36rem;
			overflow: auto;
			&--{
				&padding{
					padding: 1.12rem 0;
				}
			}
		}
		&cat{
			position: relative;
			padding: 0.625rem 1.25rem;
			margin: 0 1.25rem;
			&._active &-body{
				display: block;
			}
			&-{
				&plus{
					position: absolute;
					top: 6px;
					left: 2rem;
					font-size: 1.5rem;
					color: $color--primary;
					cursor: pointer;
				}
				&title{
					text-decoration: none;
					cursor: pointer;
					&:hover .places__cat-name{
						text-decoration: underline;
						color: $color--primary;
					}
					&:hover .places__cat-icon{
						color: $color--primary;
					}
					&._selected .places__cat-name{
						text-decoration: underline;
						color: $color--primary;
					}
					&._selected .places__cat-icon{
						text-decoration: underline;
						color: $color--primary;
					}
				}
				&name{
					margin-left: 2.25rem;
					color: $color__font--primary;
					font-size: 1.125rem;
				}
				&subname{
					margin-left: 2.25rem;
					color: $color__font--primary;
					font-size: 1.125rem;
				}
				&icon{
					position: absolute;
					top: 0;
					left: 0;
					max-width: 1.25rem;
					max-height: 1.25rem;
					fill: currentColor;
					color: $color__gray--light;
					transform: translate(0, 60%);
				}
				&subicon{
					position: absolute;
					top: 50%;
					left: 0;
					max-width: 1.25rem;
					max-height: 1.25rem;
					fill: currentColor;
					color: $color__gray--light;
					transform: translate(0, -40%);
				}
				&body{
					display: none;
				}
				&link{
					position: relative;
					display: block;
					padding-top: 0.25rem;
					margin-left: 0.5rem;
					color: $color__font--primary;
					text-decoration: none;
					cursor: pointer;
					&:hover{
						text-decoration: underline;
						color: $color--primary;
					}
					&._selected .places__cat-subname{
						text-decoration: underline;
						color: $color--primary;
					}
					&._selected .places__cat-subicon{
						color: $color--primary;
					}
				}
			}
		}
		&object{
			display: flex;
			justify-content: space-between;
			align-items: center;

			padding: 0 1.25rem;
			margin: 1.5rem 0;
			&-{
				&button{
					padding: 0 0.625rem;
					border-radius: 0.625rem;
					line-height: 1.25rem;
					font-size: 0.75rem;
					background-color: color(#d9cb9e a(50%));
					color: $color__gray--lighter;
					cursor: pointer;
					&:hover{
						background-color: $color--primary;
						color: $color__font--secondary;
					}
				}
			}
		}
		&man{
			box-sizing: border-box;
			position: relative;
			padding: 0 1.25rem;
			margin: 1.5rem 0;
			&:hover &-links{
				display: block;
			}
			&-{
				&link{
					display: flex;
					align-items: center;
					text-decoration: none;
					color: $color__font--primary;
					cursor: pointer;
					&:hover{
						text-decoration: underline;
						color: $color--primary;
					}
				}
				&name{
					margin-left: 1rem;
					font-size: 1.25rem;
					color: inherit;
				}
				&preview{
					max-width: 3rem;
					max-height: 3rem;
					border: 2px solid $color--secondary;
					box-shadow: 0 0 9px rgba(0, 2, 4, 0.28);
				}
				&img{
					max-width: 3rem;
					max-height: 3rem;
				}
				&links{
					display: none;

					position: absolute;
					top: 50%;
					left: 100%;
					transform: translate(-100%, -50%);
					@media(--tablet-less){
						transform: translate(-100%, -50%);

						.links{
							&__{
								&link{
									size: 2.5rem;
									margin: 2px 0;
								}
								&icon{
									max-width: 1.5rem;
									max-height: 1.5rem;
								}
							}
						}
					}
				}
			}
		}
		&bottom{
			display: flex;
		}
		&button{
			box-sizing: border-box;
			width: 50%;
			line-height: 2.5rem;
			text-align: center;
			font-size: 1.125rem;
			@media(--desktop-only){
				font-size: 1rem;
			}
			&:hover{
				text-decoration: underline;
			}
			&--add{
				&:focus{
					text-decoration: underline;
					background-color: $color__gray2;
				}
			}
			&:not(:last-child){
				border-right: 2px solid $color--secondary;
			}
		}
	}
}