<form action="" class="places">
    <div class="places__header">
        <div class="places__header-button button">По алфавиту</div>
        <div class="places__header-button button">Кто рядом?</div>
    </div>
    <div class="places__head places__head--friends">
        <div class="places__head-checkbox">
            <input type="checkbox" id="all" name="cat" class="places__checkbox">
            <label for="all" class="places__label places__label--head">Все</label>
        </div>
        <div class="places__head-checkbox">
            <input type="checkbox" id="other" name="cat" class="places__checkbox">
            <label for="other" class="places__label places__label--head">Друзья</label>
        </div>
    </div>
    <div class="places__body">
        <div class="places__man">
            <div class="places__man-link">
                <div class="places__man-preview">
                    <img src=":48x48" alt="" class="places__man-img">
                </div>
                <div class="places__man-name">Имя и фамилия</div>
            </div>
            <div class="places__man-links">
                <!--<div class="places__mobile">
                    <svg class="places__mobile-icon">
                        <use xlink:href="#b-svg__cross"></use>
                    </svg>
                </div>-->
                <import src="links--second"></import>
            </div>
        </div>
        <div class="places__man">
            <div class="places__man-link">
                <div class="places__man-preview">
                    <img src=":48x48" alt="" class="places__man-img">
                </div>
                <div class="places__man-name">Имя и фамилия</div>
            </div>
            <div class="places__man-links">
                <import src="links--second"></import>
            </div>
        </div>
        <div class="places__man">
            <div class="places__man-link">
                <div class="places__man-preview">
                    <img src=":48x48" alt="" class="places__man-img">
                </div>
                <div class="places__man-name">Имя и фамилия</div>
            </div>
            <div class="places__man-links">
                <import src="links--second"></import>
            </div>
        </div>
    </div>
    <div class="places__bottom">
        <button class="button places__button">Где я?</button>
        <button class="button places__button places__button--add">Добавить друга</button>
    </div>
</form>