<div class="g-errors">
	<div class="g-errors__item g-errors__nojs">Для корркетного отображения сайта включите JavaScript!</div>
	<div class="g-errors__item g-errors__popup g-errors__old">
		Для корркетного отображения сайта обновите браузер.<br>
        Chrome - <a href="https://google.com/chrome/" target="_blank">https://google.com/chrome/</a><br>
        Firefox - <a href="https://mozilla.org/firefox/" target="_blank">https://mozilla.org/firefox/</a>
	</div>
</div>
