.button{
	box-sizing: border-box;
	border: 0;
	background-color: $color--primary;
	color: $color__font--secondary;
	cursor: pointer;
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		
	}
}