<div class="stars">
    <div class="stars__star">
        <svg class="stars__icon">
            <use xlink:href="#b-svg__star"></use>
        </svg>
    </div>
    <div class="stars__star">
        <svg class="stars__icon">
            <use xlink:href="#b-svg__star"></use>
        </svg>
    </div>
    <div class="stars__star">
        <svg class="stars__icon">
            <use xlink:href="#b-svg__star"></use>
        </svg>
    </div>
    <div class="stars__star">
        <svg class="stars__icon">
            <use xlink:href="#b-svg__star"></use>
        </svg>
    </div>
    <div class="stars__star">
        <svg class="stars__icon">
            <use xlink:href="#b-svg__star-empty"></use>
        </svg>
    </div>
</div>