.stars{
	display: flex;
	align-items: center;
	
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&star{
			width: 0.75rem;
			color: $color--primary;
			&:not(:last-child){
				margin-right: 0.25rem;
			}
		}
		&icon{
			max-width: 0.75rem;
			max-height: 0.75rem;
			fill: currentColor;
		}
	}
}