<form action="" class="add-place form">
    <input type="text" class="add-place__input form__input" placeholder="Название">
    <textarea name="" id="description" cols="30" rows="10" class="add-place__input
    form__input form__input--textarea" placeholder="Описание"></textarea>
    <select name="category" id="category" class="add-place__select form__select">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <div class="add-place__info">* стоимость размещения 10 руб.</div>
    <button class="button add-place__button form__button">РАЗМЕСТИТЬ</button>
</form>