.g-section{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&body{
			position: relative;
			height: calc(100% - 3.125rem);
			padding: 0.75rem;
			box-sizing: border-box;
		}
	}
}