.area{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);

	
	z-index: 2;
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&body{
			box-sizing: border-box;
			size: 16.25rem;
			border: 1px solid $color--primary;
			border-radius: 50%;
			box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.13);
			background-color: rgba(255, 255, 255, 0.3);
		}
		&temp{
			position: absolute;
			bottom: 67%;
			left: 92%;
			transform: translate(-50%, -50%);
			z-index: -1;

			display: flex;
			justify-content: center;
			align-items: center;
			size: 4.125rem;
			border-radius: 50%;
			background: linear-gradient(45deg, transparent 22%, $color--primary 22%, $color--primary);

			color: $color__font--secondary;
			font-size: 1.625rem;
			&-{
				&body{
					display: flex;
				}
				&unit{
					display: inline-block;
					font-size: 1.25rem;
					line-height: 1.375rem;
				}
			}
		}
		&feature{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
			color: $color--primary;
		}
		&icon{
			max-width: 3.625rem;
			max-height: 3.625rem;
			fill: currentColor;
		}
	}
}