.footer{
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 3.125rem;
	padding: 0 0.75rem;
	background-color: $color__font--secondary;
	box-shadow: 0 0 2.375rem rgba(0, 2, 4, 0.25);

	@media(--tablet-less){
		display: none;
	}
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&left{
			display: flex;
			align-items: center;
		}
		&logo{
			max-width: 6.25rem;
			max-height: 2.25rem;

			text-decoration: none;
			color: $color__black;
			&-{
				&icon{
					fill: currentColor;
					max-width: 6.25rem;
					max-height: 2.25rem;
					&:hover{
						color: $color--primary;
					}
				}
			}
		}
		&menu{
			display: flex;
			align-items: center;
			height: 100%;
			&-{
				&item{
					box-sizing: border-box;

					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					height: 100%;
					padding: 0 1.25rem;
					text-decoration: none;
					cursor: pointer;

					&:hover .footer__menu-cat{
						color: $color--primary;
					}
					&:hover .footer__submenu{
						opacity: 1;
						visibility: visible;
					}
					&--apps{
						display: flex;
						align-items: center;
						cursor: default;
						&:hover .footer__menu-cat{
							color: $color__font--primary;
						}
					}
				}
				&cat{
					color: $color__font--primary;
					font-family: $font-family--primary;
					font-size: 1.125rem;
					line-height: 2.5rem;
				}
				&link{
					display: block;

					padding: 0.625rem 0;
					text-decoration: none;

					color: $color__font--primary;
					font-family: $font-family--primary;
					font-size: 1rem;
				}
				&apps{
					display: flex;
					align-items: center;
				}
				&applink{
					width: 1.375rem;
					height: 1.375rem;
					max-width: 1.375rem;
					max-height: 1.375rem;

					display: block;
					margin-left: 0.375rem;
					text-decoration: none;
				}
			}
		}
		&appicon{
			max-width: 1.375rem;
			max-height: 1.375rem;
		}
		&submenu{
			box-sizing: border-box;

			opacity: 0;
			visibility: hidden;

			width: 100%;
			min-width: 12.5rem;
			padding: 1rem 1.5rem;

			position: absolute;
			left: 0;
			right: 0;
			bottom: 100%;

			border: 1px solid #d4d4d4;
			box-shadow: 0 1rem 1.25rem rgba(1, 1, 1, 0.15);

			background-color: $color--secondary;

			transition: $animation__duration;
		}
		&links{
			&-{
				&icon{
					fill: currentColor;
					max-width: 1.25rem;
					max-height: 1.25rem;
				}
			}
		}
		&action{
			display: flex;
			justify-content: flex-end;
			&-{
				&link{
					display: flex;
					align-items: center;
					text-decoration: none;
					&:hover .footer__action-img{
						border-color: $color--primary;
						color: $color--primary;
					}
					&:hover .footer__action-text{
						display: block;
						border-color: $color--primary;
						color: $color--primary;
					}
					&:not(:last-child){
						margin-right: 0.5rem;
					}
				}
				&img{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 2.25rem;
					min-width: 2.25rem;
					height: 2.25rem;
					border-radius: 50%;
					border: 1px solid $color__font--primary;
					color: $color__font--primary;
				}
				&text{
					display: none;

					z-index: -1;
					height: 2.25rem;
					line-height: 2.25rem;
					border-radius: 1.125rem;
					padding: 0 3rem 0 0.75em;
					border: 1px solid $color__font--primary;
					margin-right: calc(-2.25rem - 2px);
					color: $color__font--primary;
				}
			}
		}
	}
}
