.g-page{
	font-size: $font-size;
	font-family: $font-family--primary;
	overflow: hidden;
	margin: 0;
	min-height: 100vh;
	height: 100vh;
	@media(--tablet-only){
		font-size: 10px;
	}
	@media(--desktop-only){
		font-size: 12px;
	}
	@media(--widedesktop-only){
		font-size: 14px;
	}
	&__amp{
		font-family: $font-family--primary;
		overflow: auto;
		margin: 0;
	}
}