<div class="place">
    <div class="place__box">
        <img src=":200x200" alt=""  class="place__preview">
    </div>
    <div class="place__links">
        <import src="links"></import>
    </div>
</div>