.popup{
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.4);
	overflow: auto;
	display: none;
	opacity: 0;
	transition: .7s;
	visibility: hidden;

	/*mods*/
	&.open{
		display: block;
		visibility: visible;
		opacity: 1;
		transform: none;
	}

	/*elements*/
	&__{
		&overlay{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
		}
		&content{
			position: relative;
			margin: 3rem auto;
			z-index: 1;
			box-sizing: border-box;
			width: 40rem;
			max-width: 100%;
			padding: 1rem 2rem;
			background: #fff;

			transition: .7s;
			@media(--tablet-less){
				padding: 3.75rem 2rem;
			}
		}
		&close{
			position: absolute;
			top: 10px;
			right: 10px;
			transform: rotate(45deg);

			font-size: 1.5rem;
			line-height: 1.5rem;
			color: color($color__gray a(0.3));
			cursor: pointer;

			&:after{
				content: '+';
			}
		}
		&title{
			text-align: center;
			font-size: 1.5rem;
		}
	}
}
