<div class="popup" data-popup="access">
	<div class="popup__overlay"></div>
	<div class="popup__content">
		<div class="popup__close"></div>
        <div class="popup__title">Совместный доступ</div>
        <import src="access"></import>
	</div>
</div>
