<form action="" class="add-friend form">
    <input type="text" class="form__input" placeholder="Название">
    <textarea name="" id="description" cols="30" rows="10" class="
    form__input form__input--textarea" placeholder="Описание"></textarea>
    <button class="add-friend__button button form__button">ДОБАВИТЬ</button>
</form>