<div class="weather">
    <div class="weather__temp">
        <div class="weather__temp-number">32</div>
        <div class="weather__temp-unit">c</div>
    </div>
    <div class="weather__info">
        <div class="weather__info-item">Вероятность осадков: 17%</div>
        <div class="weather__info-item">Влажность: 11%</div>
        <div class="weather__info-item">Ветер: 14 км/ч</div>
    </div>
</div>