.weather{
	
	display: flex; 
	justify-content: space-between;
	padding: 1rem 1rem 1rem 2rem;

	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&temp{
			display: flex;
			color: $color--primary;
			&-{
				&number{
					font-size: 4.5rem;
					line-height: 4rem;
				}
				&unit{
					font-size: 1.875rem;
					line-height: 1.875rem;
				}
			}
		}
		&info{
			margin-top: 0.25rem;
			color: $color--primary;
			&-{
				&item{
					font-size: 0.75rem;
					color: $color__font--primary;
				}
			}
		}
	}
}