$margin : 1rem;
$margin-big : 4rem;
$radius : 0.8rem;

.authorization{
	position: relative;
	z-index: 1;

	display: flex;
	align-items: center;
	&._active{
		z-index: 3;
	}

	@media(--tablet-less){
		&:not(._active){
			display: none;
		}
		box-sizing: border-box;
		z-index: 10;
		position: fixed;
		top: $margin-big;
		right: 0;

		flex-wrap: wrap;
		justify-content: flex-end;
		max-width: 480px;
		width: calc(100% - $margin);
		padding: calc($margin * 2);
		border-top-left-radius: $radius;

		background-color: $color__gray2;
	}
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&singup{
			margin-right: 1.5rem;

			color: $color__font--primary;
			font-size: 1rem;
			font-weight: 700;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
			@media(--tablet-less){
				z-index: 2;
				position: absolute;
				top: calc($margin * 2);
				left: calc($margin * 2);
				line-height: 2rem;
				font-size: 0.85rem;
				color: color($color__white a(0.75));
				padding-right: 0;
			}
		}
		&singin{
			position: relative;
			&:not(._active) &-window{
				display: none;
				@media(--tablet-less){
					display: block;
				}
			}
			@media(--tablet-less){
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}
			&-{
				&button{
					box-sizing: border-box;
					padding: 0 2rem;
					line-height: 2rem;
					border-radius: 1rem;
					background-color: $color--primary;
					box-shadow: 0 1rem 1.25rem rgba(1, 1, 1, 0.15);
					color: $color__font--secondary;
					font-size: 1rem;
					font-weight: 700;
					cursor: pointer;
					&:hover{
						background-color: $color__gray2;
					}
					&._active{
						background-color: $color__gray2;
					}
					@media(--tablet-less){
						max-width: 100px;
						background-color: $color__yellow;
						color: #374140;
					}
				}
				&window{
					position: absolute;
					top: 100%;
					right: 0;
					@media(--tablet-less){
						position: relative;
					}
				}
			}
		}
	}
}