.lang{
	z-index: 1;
	margin-left: 1.5rem;
	@media(--tablet-less){
		display: none;
	}
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&body{
			white-space: nowrap;
			margin-top: 1rem;
			background-color: $color--secondary;
			&:after{
				content: "";
				z-index: 2;
				position: absolute;
				bottom: 100%;
				right: 25%;

				border-bottom: 10px solid $color--primary;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;

			}
		}
		&wrap{
			padding: 0.5rem 1rem;
			max-height: 7rem;
			overflow-y: scroll;
		}
		&button{
			background-color: $color__gray2;
			&:hover{
				background-color: $color--primary;
			}
		}
		&item{
			padding: 0.25rem 0;
			cursor: pointer;
			&:hover{
				color: $color--primary;
			}
		}
	}
}
