<div class="authorization__singin lang">
	<div class="authorization__singin-button lang__button">RU</div>
	<div class="authorization__singin-window lang__body">
		<div class="lang__wrap">
			<div class="lang__item">Language 1</div>
			<div class="lang__item">Language 2</div>
			<div class="lang__item">Language 3</div>
			<div class="lang__item">Language 4</div>
			<div class="lang__item">Language 5</div>
			<div class="lang__item">Language 6</div>
			<div class="lang__item">Language 7</div>
			<div class="lang__item">Language 8</div>
		</div>
	</div>
</div>
