$margin : 1rem;
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&sidebar{
			display: flex;
			&:not(._active){
				.header__wrap{
					width: 0;
					opacity: 0;
					visibility: hidden;
				}
				.header__action:after{
					border-left: 0.5rem solid $color--primary;
					border-right: none;
				}
			}
		}
		&wrap{
			display: flex;
		}
		&action{
			position: relative;
			z-index: 1;
			width: 2rem;
			display: flex;
			align-items: center;
			border-right: 0.25rem solid $color--primary;
			background-color: $color--secondary;
			cursor: pointer;
			@media(--tablet-less){
				display: none;
			}
			&:after{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				content: "";
				border-top: 0.5rem solid transparent;
				border-right: 0.5rem solid $color--primary;
				border-left: none;
				border-bottom: 0.5rem solid transparent;
			}
			&-{
				&icon{
					max-width: 1rem;
					max-height: 1rem;
					fill: currentColor;
					color: $color--primary;
				}
			}
		}
		&authorization{
			display: flex;
		}
		&mobile{
			display: none;
			@media(--tablet-less){

				box-sizing: border-box;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				z-index: 10;

				display: flex;
				justify-content: space-between;
				align-items: center;

				padding: $margin;
				&-{
					&left{
						display: flex;
						align-items: center;
					}
				}
			}
		}
		&menu{
			color: $color--primary;
			cursor: pointer;
			&-{
				&icon{
					max-width: 2rem;
					max-height: 2rem;
					fill: currentColor;
				}
			}
		}
		&title{
			display: flex;
			align-items: center;
			margin-left: 1rem;

			color: $color__font--primary;
			font-size: 1rem;
			font-weight: 700;
			text-transform: uppercase;
			&-{
				&text{
				}
				&icon{
					display: none;
					max-width: 5rem;
					max-height: 2rem;
				}
			}
		}
		&actions{
			display: flex;
			align-items: center;
		}
		&button{
			size: 2rem;
			color: $color--primary;
			cursor: pointer;
			&:not(:last-child){
				margin-right: 0.5rem;
			}
			&-{
				&icon{
					max-width: 2rem;
					max-height: 2rem;
					fill: currentColor;
				}
			}
		}
	}
}
