<div class="sidebar _active">
    <div class="sidebar__head">
        <div class="sidebar__category-preview _active">
            <div class="sidebar__category-content">
                <div class="sidebar__category-name">Места и организации</div>
                <svg class="sidebar__category-icon">
                    <use xlink:href="#b-svg__map"></use>
                </svg>
            </div>
        </div>
        <div class="sidebar__category-preview">
            <div class="sidebar__category-content">
                <div class="sidebar__category-name">Трекинг</div>
                <svg class="sidebar__category-icon">
                    <use xlink:href="#b-svg__eye"></use>
                </svg>
            </div>
        </div>
        <div class="sidebar__category-preview">
            <div class="sidebar__category-content">
                <div class="sidebar__category-name">Проложить маршрут</div>
                <svg class="sidebar__category-icon">
                    <use xlink:href="#b-svg__location"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="sidebar__body _active">
        <div class="sidebar__category-body _active">
            <import src="popover--places"></import>
        </div>
        <div class="sidebar__category-body">
            <import src="popover--tracking"></import>
        </div>
        <div class="sidebar__category-body">
            <import src="popover--route"></import>
        </div>
    </div>
</div>
