// direct
$color__white: #fff;
$color__black: #000;
$color__blue: #167ac6;
$color__gray: #2c3e50;
$color__gray2: #384f62;
$color__gray3: #374140;
$color__gray--light: #7e8aa2;
$color__gray--lighter: #9b9d94;
$color__yellow: #d9cb9e;
$color__orange: #dc3522;
$color__orange2: #ff9900;

// abstract
$color--primary: $color__orange;
$color--secondary: $color__white;

// font
$color__font--primary: $color__gray;
$color__font--secondary: $color__white;
