.add-object{
	position: absolute;
	bottom: 2rem;
	right: 2.25rem;
	z-index: 2;
	@media(--tablet-less){
		display: none;
	}

	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&button{
			display: block;
			line-height: 2.75rem;
			padding: 0 2rem;
			text-decoration: none;
			border-radius: 1.375rem;
			color: $color__font--secondary;
			font-size: 1.125rem;
			font-weight: 700;
			&:hover{
				background-color: $color__gray;
			}
		}
	}
}