.tracking{
	width: 100%;
	height: 100%;
	
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&body{
			width: 100%;
			height: 100%;
		}
		&item{
			z-index: 2;
			position: fixed;
			&--{
				&first{
					top: 20%;
					left: 40%;
					transform: translate(-50% , -50%);
				}
				&second{
					top: 30%;
					left: 50%;
					transform: translate(-50% , -50%);
				}
				&third{
					top: 40%;
					left: 60%;
					transform: translate(-50% , -50%);
				}
			}
		}
		&links{
			display: none;
			@media(--tablet-less){
				display: block;
				z-index: 10;
				position: fixed;
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				.links{
					flex-direction: column;
					&__{
						&link{
							size: 2.5rem;
							margin: 2px 0;
						}
						&icon{
							max-width: 1.5rem;
							max-height: 1.5rem;
						}
					}
				}
			}
		}
	}
}