<form action="" class="singin form">
    <input type="text" class="singin__input form__input" placeholder="E-mail">
    <input type="text" class="singin__input form__input" placeholder="Пароль">
    <div class="singin__forget">
        <a href="#" class="singin__forget-link">Забыли пароль?</a>
    </div>
    <div class="singin__bottom">
        <div class="singin__save">
            <input id="save" type="checkbox" class="singin__checkbox form__checkbox">
            <label for="save" class="singin__label form__label">Запомнить</label>
        </div>
        <button class="button singin__button form__button form__button--bold">Вход</button>
    </div>
</form>