<div class="route__link">
	<div class="route__link-button">
		<svg class="route__link-icon">
						<use xlink:href="#b-svg__link"></use>
		</svg>
	</div>
	<div class="route__link-input">http://logist.ommu.ru/</div>
</div>
<form action="" class="route">
	<div class="route__body">
		<div class="route__point">
			<div class="route__pointicon">
				<svg class="route__pointicon-icon">
					<use xlink:href="#b-svg__point"></use>
				</svg>
			</div>
			<div class="route__point-index">A</div>
			<div class="route__point-area">
				<input type="text" class="route__point-input" placeholder="Адрес или точка на карте">
				<div class="route__point-actions">
					<div class="route__point-button">
						<svg class="route__point-icon">
						<use xlink:href="#b-svg__fix"></use>
						</svg>
						<div class="route__info">заполнить адрес<br> текущим местоположением</div>
					</div>
				</div>
				<div class="route__point-lenght">12126 км</div>
				<div class="route__revers">
					<svg class="route__revers-icon">
					<use xlink:href="#b-svg__arrows-bold"></use>
					</svg>
				</div>
			</div>
		</div>
		<div class="route__point">
			<div class="route__pointicon">
				<svg class="route__pointicon-icon">
					<use xlink:href="#b-svg__point"></use>
				</svg>
			</div>
			<div class="route__point-index">B</div>
			<div class="route__point-area">
				<input type="text" class="route__point-input" placeholder="Адрес или точка на карте">
				<div class="route__point-actions">
					<div class="route__point-button">
						<svg class="route__point-icon">
						<use xlink:href="#b-svg__fix"></use>
						</svg>
						<div class="route__info">заполнить адрес<br> текущим местоположением</div>
					</div>
				</div>
				<div class="route__point-lenght">12126 км</div>
				<div class="route__revers">
					<svg class="route__revers-icon">
					<use xlink:href="#b-svg__arrows-bold"></use>
					</svg>
				</div>
			</div>
		</div>
		<div class="route__point">
			<div class="route__pointicon">
				<svg class="route__pointicon-icon">
					<use xlink:href="#b-svg__point"></use>
				</svg>
			</div>
			<div class="route__point-index">C</div>
			<div class="route__point-area">
				<input type="text" class="route__point-input" placeholder="Адрес или точка на карте">
				<div class="route__point-actions">
					<div class="route__point-button">
						<svg class="route__point-icon">
						<use xlink:href="#b-svg__fix"></use>
						</svg>
						<div class="route__info">заполнить адрес<br> текущим местоположением</div>
					</div>
				</div>
				<div class="route__point-lenght">12126 км</div>
				<div class="route__revers">
					<svg class="route__revers-icon">
					<use xlink:href="#b-svg__arrows-bold"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
	<div class="route__wrap">
		<div class="route__actions">
			<div class="route__actions-item">Добавить точку</div>
			<div class="route__actions-item">Сбросить</div>
		</div>
		<button class="route__button form__button button">ПРОЛОЖИТЬ МАРШРУТ</button>
		<div class="route__checkbox">
			<input type="checkbox" id="show" name="show" class="route__checkbox-input">
			<label for="show" class="route__checkbox-label">Show route instructions</label>
		</div>
	</div>
</form>
