<div class="apps">
    <div class="apps__title">Карта в телефоне</div>
    <a href="#" class="apps__link">***</a>
    <a href="#" class="apps__link">***</a>
    <a href="#" class="apps__link">***</a>
</div>