.point{
	position: absolute;
	top: 50%;
	left: 30%;
	z-index: 2;
	color: $color--primary;
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&icon{
			max-width: 5rem;
			max-height: 5rem;
			fill: currentColor;
			@media(--tablet-less){
				max-width: 2rem;
				max-height: 2rem;
			}
		}
	}
}