<amp-carousel width="576" height="312" layout="responsive" type="slides">
    <amp-img src="http://placehold.alanev.ru/576x312"
        width="576"
        height="312"
        layout="responsive"></amp-img>
    <amp-img src="http://placehold.alanev.ru/576x312"
        width="576"
        height="312"
        layout="responsive"></amp-img>
    <amp-img src="http://placehold.alanev.ru/576x312"
        width="576"
        height="312"
        layout="responsive"></amp-img>
</amp-carousel>