<div class="card__section card__section--head">
    <div class="card__wrap">
        <div class="card__title card__title--amp">Гимназия № 153 имени А.С. Пушкина </div>
    </div>
</div>
<div class="card__body card__body--amp _active">
    <div class="card__wrap card__wrap--body">
        <div class="card__main-info card__main-info--amp">
            <div class="card__description">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спин Замза ...</div>
            <a href="#" class="card__address card__address--amp">Минск, просп. Независимости 20</a>
        </div>
        <div class="card__box">
            <div class="card__lists">
                <div class="card__phone">
                    <div class="drop-down drop-down--phone">
                        <div class="drop-down__main">
                            <a href="#" class="drop-down__link">+375(29)671-12-65</a>
                            <div class="drop-down__arrow">
                                <svg class="drop-down__arrow-icon" viewBox="0 0 12600 16800">
                                    <path d="M9975 11550c-550 0-1062 170-1485 460L5080 9329c109-289 170-600 170-929 0-336-66-658-180-954l3359-2698c432 315 968 502 1546 502 1450 0 2625-1175 2625-2625S11425 0 9975 0C8523 0 7350 1175 7350 2625c0 299 49 587 142 854L4082 6217c-414-279-917-443-1456-443C1175 5774 1 6949 1 8399s1174 2625 2625 2625c547 0 1061-168 1483-457l3410 2680c-109 289-168 602-168 927 0 1450 1173 2625 2625 2625 1450 0 2625-1175 2625-2625s-1175-2625-2625-2625m0 0z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="drop-down__list">
                            <a href="#" class="drop-down__item">+375(29)671-12-62</a>
                            <a href="#" class="drop-down__item">+375(29)671-12-63</a>
                            <a href="#" class="drop-down__item">+375(29)671-12-64</a>
                        </div>
                    </div>
                </div>
                <div class="card__time">
                    <div class="card__time-img">
                        <svg class="card__time-icon" viewBox="0 0 100 100">
                            <path d="M50 0C22.386 0 0 22.386 0 50s22.386 50 50 50 50-22.386 50-50S77.614 0 50 0zm0 90c-22.09 0-40-17.908-40-40 0-22.09 17.91-40 40-40 22.092 0 40 17.91 40 40 0 22.092-17.908 40-40 40z"/>
                            <path d="M54 50c0 3.313-2.238 6-5 6s-5-2.687-5-6V20c0-3.313 2.238-6 5-6s5 2.687 5 6v30z"/>
                            <path d="M47.096 56.16c-2.812-1.753-3.834-5.19-2.283-7.68 1.552-2.49 5.09-3.088 7.9-1.336L78.177 63.01c2.812 1.752 3.834 5.19 2.283 7.68-1.552 2.49-5.09 3.088-7.902 1.336L47.096 56.16z"/>
                        </svg>
                    </div>
                    <div class="drop-down drop-down--time">
                        <div class="drop-down__main">
                            <div class="drop-down__link">Время работы</div>
                            <div class="drop-down__arrow">
                                <svg class="drop-down__arrow-icon" viewBox="0 0 12600 16800">
                                    <path d="M9975 11550c-550 0-1062 170-1485 460L5080 9329c109-289 170-600 170-929 0-336-66-658-180-954l3359-2698c432 315 968 502 1546 502 1450 0 2625-1175 2625-2625S11425 0 9975 0C8523 0 7350 1175 7350 2625c0 299 49 587 142 854L4082 6217c-414-279-917-443-1456-443C1175 5774 1 6949 1 8399s1174 2625 2625 2625c547 0 1061-168 1483-457l3410 2680c-109 289-168 602-168 927 0 1450 1173 2625 2625 2625 1450 0 2625-1175 2625-2625s-1175-2625-2625-2625m0 0z"/>
                                </svg>
                            </div>
                        </div>
                        <div class="drop-down__list">
                            <div class="drop-down__item">c 10 до 22</div>
                            <div class="drop-down__item">c 10 до 22</div>
                            <div class="drop-down__item">c 10 до 22</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card__gallery">
                <div class="gallery gallery--amp">
                    <div class="gallery__body">
                        <div class="gallery__stars">
                            <div class="stars">
                                <div class="stars__star">
                                    <svg class="stars__icon" viewBox="0 0 100 95.105">
                                        <polygon points="50,0 61.803,36.327 100,36.327 69.098,58.778 80.902,95.105 50,72.654 19.098,95.105 30.902,58.778 0,36.327 38.197,36.327"></polygon>
                                    </svg>
                                </div>
                                <div class="stars__star">
                                    <svg class="stars__icon" viewBox="0 0 100 95.105">
                                        <polygon points="50,0 61.803,36.327 100,36.327 69.098,58.778 80.902,95.105 50,72.654 19.098,95.105 30.902,58.778 0,36.327 38.197,36.327"></polygon>
                                    </svg>
                                </div>
                                <div class="stars__star">
                                    <svg class="stars__icon" viewBox="0 0 100 95.105">
                                        <polygon points="50,0 61.803,36.327 100,36.327 69.098,58.778 80.902,95.105 50,72.654 19.098,95.105 30.902,58.778 0,36.327 38.197,36.327"></polygon>
                                    </svg>
                                </div>
                                <div class="stars__star">
                                    <svg class="stars__icon" viewBox="0 0 100 95.105">
                                        <polygon points="50,0 61.803,36.327 100,36.327 69.098,58.778 80.902,95.105 50,72.654 19.098,95.105 30.902,58.778 0,36.327 38.197,36.327"></polygon>
                                    </svg>
                                </div>
                                <div class="stars__star">
                                    <svg class="stars__icon" viewBox="0 0 100 100">
                                        <path d="M90,39H60.9l-9-27.7c-0.3-0.8-1-1.4-1.9-1.4c-0.9,0-1.6,0.6-1.9,1.4l-9,27.7H10c-0.9,0-1.6,0.6-1.9,1.4  c-0.3,0.8,0,1.7,0.7,2.2l23.5,17.1l-9,27.7c-0.3,0.8,0,1.7,0.7,2.2c0.7,0.5,1.7,0.5,2.4,0L50,72.6l23.5,17.1  c0.4,0.3,0.8,0.4,1.2,0.4s0.8-0.1,1.2-0.4c0.7-0.5,1-1.4,0.7-2.2l-9-27.7l23.5-17.1c0.7-0.5,1-1.4,0.7-2.2S90.9,39,90,39z   M64.1,57.4c-0.7,0.5-1,1.4-0.7,2.2l7.5,23.2L51.2,68.5c-0.7-0.5-1.7-0.5-2.4,0L29.1,82.8l7.5-23.2c0.3-0.8,0-1.7-0.7-2.2L16.2,43  h24.4c0.9,0,1.6-0.6,1.9-1.4L50,18.4l7.5,23.2c0.3,0.8,1,1.4,1.9,1.4h24.4L64.1,57.4z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="gallery__carousel">
                            <img src=":576x312" alt="">
                            <!--<amp-carousel width="576" height="312" layout="responsive" type="slides">
                                <amp-img src="http://placehold.alanev.ru/576x312"
                                    width="576"
                                    height="312"
                                    layout="responsive"></amp-img>
                                <amp-img src="http://placehold.alanev.ru/576x312"
                                    width="576"
                                    height="312"
                                    layout="responsive"></amp-img>
                                <amp-img src="http://placehold.alanev.ru/576x312"
                                    width="576"
                                    height="312"
                                    layout="responsive"></amp-img>
                            </amp-carousel>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card__links">
                <a href="#" class="card__link">
                    <div class="card__link-img">
                        <svg class="card__link-icon" viewBox="0 0 100 99.856">
                            <path d="M10.33 9.794h-.015l-1.142 2.52h2.312"/>
                            <path d="M10.33 0C4.636 0 0 4.652 0 10.37c0 7.03 9.33 18.985 9.728 19.49.156.197.393.314.642.314h.003c.25-.002.487-.118.642-.316.395-.506 9.646-12.46 9.646-19.488C20.66 4.652 16.03 0 10.33 0zm4.837 15.98H13.48c-.275 0-.396-.092-.533-.383L12.4 14.39H8.26l-.547 1.22c-.075.186-.244.368-.548.368H5.492c-.228 0-.35-.198-.258-.396l4.76-10.275c.047-.092.153-.167.26-.167h.15c.108 0 .213.076.26.167l4.762 10.275c.09.2-.03.397-.26.397zm67.117 17.975c-9.77 0-17.716 7.975-17.716 17.78 0 12.055 16 32.556 16.682 33.424.268.335.673.532 1.102.532h.004c.432-.002.838-.2 1.104-.54.67-.867 16.54-21.366 16.54-33.42 0-9.806-7.947-17.78-17.716-17.78zm.642 27.04h-6.472c-.286 0-.494-.235-.494-.496V43.162c0-.266.208-.498.494-.498h6.077c3.08 0 5.615 2.12 5.615 4.867 0 2.018-1.804 3.484-3.027 4.138 1.384.576 3.496 1.86 3.496 4.27 0 2.934-2.583 5.054-5.684 5.054z"/>
                            <path d="M82.14 53.51h-2.11v3.743h2.377c1.016 0 1.877-.838 1.877-1.91-.003-1.05-1.123-1.834-2.14-1.834zm1.75-5.292c0-1.05-.833-1.78-1.827-1.78h-2.035v3.666h2.035c.994 0 1.826-.84 1.826-1.886zm-.682 42.222l-57.87-31.105L38.75 52.29c1.303-.753 2.072-2.177 1.99-3.684-.08-1.506-.997-2.84-2.373-3.45 0 0-23.94-10.57-25.657-11.232-1.216-.47-2.897-.43-3.377-.326-1.754.38-3.01 1.392-3.01 2.58 0 1.69 3.165 2.833 3.55 3.003l22.823 9.768-16.834 6.92c-1.274.736-2.042 2.12-1.996 3.595.046 1.48.897 2.81 2.216 3.465l58.51 34.463c1.996.814 4.11 2.47 7.618 2.47.304 0 .6-.017.892-.037.033 0 .068.01.104.01.39 0 .773-.06 1.146-.17 2.88-.55 4.972-2.17 4.972-4.087-.002-2.18-2.617-3.507-6.116-5.134zm-72.72-53.01c-1.167 0-2.11-.57-2.11-1.27 0-.703.944-1.272 2.11-1.272 1.163 0 2.107.57 2.107 1.27 0 .702-.944 1.27-2.108 1.27zM82.52 97.724c-1.973 0-3.572-.964-3.572-2.15 0-1.19 1.6-2.153 3.573-2.153 1.98 0 3.578.968 3.578 2.155.003 1.187-1.598 2.15-3.574 2.15z"/>
                        </svg>
                    </div>
                    <div class="card__link-text">Проложить маршрут</div>
                </a>
                <a href="#" class="card__link">
                    <div class="card__link-img">
                        <svg class="card__link-icon" viewBox="0 0 100 84.841">
                            <path d="M69.728 84.84H10.156C4.556 84.84 0 80.053 0 74.16V17.754C0 11.865 4.557 7.075 10.156 7.075h56.546L41.22 17.877H10.158l.226 56.282 59.344-.126-.227-7.604 10.39-8.042V74.16c0 5.892-4.557 10.68-10.162 10.68z"/>
                            <path d="M69.345 57.824l-.074-17.05c-24.257-.156-42.383 14.103-42.383 14.103s2.872-31.54 42.458-39.316V0L100 28.934 85.094 42.96l-15.75 14.864z"/>
                        </svg>
                    </div>
                    <div class="card__link-text">поделиться</div>
                </a>
            </div>
            <div class="card__recall">
                <import src="recall"></import>
            </div>
        </div>
    </div>
</div>