<div class="card _active">
    <div class="card__haed">
        <div class="popover__action">
            <div class="popover__action-button popover__action-button--minus card__button--minus">
                <svg class="popover__action-icon popover__action-icon--minus">
                    <use xlink:href="#b-svg__minus"></use>
                </svg>
            </div>
            <div class="popover__action-button popover__action-button--cross card__button--cross">
                <svg class="popover__action-icon">
                    <use xlink:href="#b-svg__cross"></use>
                </svg>
            </div>
        </div>
        <div class="card__plus">
            <svg class="card__plus-icon">
                <use xlink:href="#b-svg__plus-thin"></use>
            </svg>
        </div>
        <div class="card__title card__title--fix">Гимназия № 153 имени А.С. Пушкина </div>
    </div>
    <div class="card__body _active">
        <div class="card__main-info">
            <div class="card__description">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спин Замза ...</div>
            <a href="#" class="card__more">подробнее</a>
            <a href="#" class="card__address">Минск, просп. Независимости 20</a>
        </div>
        <div class="card__lists card__lists--amp">
            <div class="card__phone">
                <import src="drop-down--phone"></import>
            </div>
            <div class="card__time">
                <div class="card__time-img">
                    <svg class="card__time-icon">
                        <use xlink:href="#b-svg__clock"></use>
                    </svg>
                </div>
                <import src="drop-down--time"></import>
            </div>
        </div>
        <div class="card__gallery">
            <import src="gallery"></import>
        </div>
        <div class="card__links">
            <a href="#" class="card__link">
                <div class="card__link-img">
                    <svg class="card__link-icon">
                        <use xlink:href="#b-svg__location"></use>
                    </svg>
                </div>
                <div class="card__link-text">Проложить маршрут</div>
            </a>
            <a href="#" class="card__link">
                <div class="card__link-img">
                    <svg class="card__link-icon">
                        <use xlink:href="#b-svg__share2"></use>
                    </svg>
                </div>
                <div class="card__link-text">поделиться</div>
            </a>
        </div>
        <div class="card__recall">
            <import src="recall"></import>
        </div>
    </div>
</div>