<div class="links">
    <a href="#" class="links__link links__link--plus">
        <svg class="links__icon">
            <use xlink:href="#b-svg__share"></use>
        </svg>
    </a>
    <a href="#" class="links__link links__link--mail">
        <svg class="links__icon">
            <use xlink:href="#b-svg__share"></use>
        </svg>
    </a>
    <a href="#" class="links__link">
        <svg class="links__icon">
            <use xlink:href="#b-svg__share"></use>
        </svg>
    </a>
    <a href="#" class="links__link">
        <svg class="links__icon">
            <use xlink:href="#b-svg__share"></use>
        </svg>
    </a>
</div>