<div class="navigation">
    <div class="navigation__zoom">
        <div class="navigation__zoom-button navigation__zoom-button--plus">
            <svg class="navigation__zoom-icon">
                <use xlink:href="#b-svg__plus-thin"></use>
            </svg>
        </div>
        <div class="navigation__zoom-button navigation__zoom-button--minus">
            <svg class="navigation__zoom-icon navigation__zoom-icon--minus">
                <use xlink:href="#b-svg__minus"></use>
            </svg>
        </div>
    </div>
    <div class="navigation__find">
        <svg class="navigation__find-icon">
            <use xlink:href="#b-svg__find"></use>
        </svg>
    </div>
</div>