.navigation{
	position: relative;
	z-index: 1;

	position: absolute;
	top: 50%;
	right: 0.75rem;
	transform: translate(0, -50%);

	display: flex;
	flex-direction: column;
	align-items: center;
	@media(--tablet-less){
		top: 100%;
		transform: translate(0, -100%);
	}
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&zoom{
			display: flex;
			flex-direction: column;
			align-items: center;
			&-{
				&button{
					display: flex;
					justify-content: center;
					align-items: center;

					border-radius: 50%;
					background-color: $color--secondary;

					box-shadow: 0 1rem 1.25rem rgba(1, 1, 1, 0.15);

					cursor: pointer;
					&--{
						&plus{
							size: 2.75rem;
						}
						&minus{
							margin-top: 0.625rem;
							size: 2.375rem;
						}
					}
					&:hover .navigation__zoom-icon{
						color: $color--primary;
					}
				}
				&icon{
					max-width: 0.875rem;
					max-height: 0.875rem;
					fill: currentColor;
					color: $color__gray--light;
					&--{
						&minus{
							max-height: 2px;
						}
					}
				}
			}
		}
		&find{
			display: flex;
			justify-content: center;
			align-items: center;
			size: 2.25rem;
			margin-top: 2rem;

			border-radius: 50%;
			background-color: $color--primary;

			fill: currentColor;
			color: $color__font--secondary;
			
			cursor: pointer;
			&:hover{
				background-color: $color--secondary;
			}
			&:hover &-icon{
				color: $color--primary;
			}
			&-{
				&icon{
					fill: currentColor;
					max-width: 1.25rem;
					max-height: 1.25rem;
				}
			}
		}
	}
}