<div class="gallery gallery--amp">
    <div class="gallery__body">
        <div class="gallery__stars">
            <import src="stars"></import>
        </div>
        <div class="gallery__carousel">
            <span id="item-1"></span>
            <span id="item-2"></span>
            <span id="item-3"></span>

            <div class="gallery__item gallery__item--1">
                <img src=":576x312" alt="">
                <a href="#item-3" class="gallery__carousel-arrow gallery__carousel-arrow--prev">
                    <svg class="gallery__carousel-icon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </a>
                <a href="#item-2" class="gallery__carousel-arrow gallery__carousel-arrow--next">
                    <svg class="gallery__carousel-icon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </a>
            </div>
            <div class="gallery__item gallery__item--2">
                <img src=":576x312/354" alt="">
                <a href="#item-1" class="gallery__carousel-arrow gallery__carousel-arrow--prev">
                    <svg class="gallery__carousel-icon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </a>
                <a href="#item-3" class="gallery__carousel-arrow gallery__carousel-arrow--next">
                    <svg class="gallery__carousel-icon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </a>
            </div>
            <div class="gallery__item gallery__item--3">
                <img src=":576x312/684" alt="">
                <a href="#item-2" class="gallery__carousel-arrow gallery__carousel-arrow--prev">
                    <svg class="gallery__carousel-icon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </a>
                <a href="#item-1" class="gallery__carousel-arrow gallery__carousel-arrow--next">
                    <svg class="gallery__carousel-icon">
                        <use xlink:href="#b-svg__share"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>