.chat{
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// pseudo-classes

	// mods

	// pseudo-elements
	
	// elements
	&__{
		&body{
			padding: 0 0.75rem;
			height: 36rem;
			overflow: auto;
		}
		&message{
			box-sizing: border-box;
			display: flex;
			padding: 0.75rem 0;
			&--{
				&from{
					align-items: center;
				}
				&to{
					justify-content: space-between;
					align-items: center;
				}
			}
			&-{
				&preview{
					width: 2.5rem;
					height: 2.5rem;
					min-width: 2.5rem;
					border-radius: 50%;
					overflow: hidden;
					margin-right: 0.875rem;
					img{
						width: 100%;
						height: 100%;
					}
				}
				&text{
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: 0.75rem;
				}
				&box{
					position: relative;
					max-width: calc(100% - 4.5rem);
					border-radius: 0.5rem;
					line-height: 1.375rem;
					padding: 0 0.75rem;
					margin-left: 0.375rem;
					background-color: $color--primary;
					color: $color__font--secondary;
					&:after{
						content: "";
						position: absolute;
						top: 50%;
						left: 100%;
						transform: translate(0, -50%);

						border-top: 3px solid transparent;
						border-bottom: 3px solid transparent;
						border-left: 6px solid $color--primary;
					}
				}
				&time{
					white-space: nowrap;
					color: $color__font--primary;
					font-size: 0.75rem;
				}
			}
		}
		&smile{
			position: absolute;
			top: 50%;
			right: 0.75rem;
			transform: translate(0, -50%);

			width: 1rem;
			height: 1rem;

			cursor: pointer;
			&-{
				&icon{
					max-width: 1rem;
					max-height: 1rem;
					fill: currentColor;
					color: $color--primary;
				}
			}
		}
		&area{
			position: relative;
			display: flex;
			width: 100%;
		}
		&input{
			width: 100%;
			height: 2.25rem;
			border: none;
			background: $color__white;
			padding: 0 0.75rem;
			border-radius: 0.5rem;
			font-size: 0.75rem;
			color: $color__font--primary;
		}
		&button{
			height: 2.25rem;
			border: none;
			border-radius: 0.5rem;
			padding: 0 1rem;
			margin-left: 0.375rem;
			white-space: nowrap;
			text-transform: uppercase;
			box-shadow: 0 5px 5px rgba(1, 1, 1, 0.15);
			font-size: 0.75rem;
			&:hover{
				text-decoration: underline;
			}
			&:focus{
				background-color: $color__gray2;
			}
		}
		&bottom{
			display: flex;
			justify-content: space-between;
			padding: 0.375rem;
			background-color: $color__gray2;
		}
	}
}