<div class="chat">
    <div class="chat__body">
        <div class="chat__message chat__message--from">
            <div class="chat__message-preview">
                <img src=":40x40" alt="">
            </div>
            <div class="chat__message-text">сообщение от пользователя 1 сообщение от пользователя 1 сообщение от пользователя 1</div>
        </div>
        <div class="chat__message chat__message--to">
            <div class="chat__message-box">
                <div class="chat__message-text">сообщение от пользователя 2 сообщение от пользователя 2 сообщение от пользователя 2</div>
            </div>
            <div class="chat__message-time">21:10</div>
        </div>
        <div class="chat__message chat__message--from">
            <div class="chat__message-preview">
                <img src=":40x40" alt="">
            </div>
            <div class="chat__message-text">сообщение от пользователя 1 сообщение от пользователя 1 сообщение от пользователя 1</div>
        </div>
        <div class="chat__message chat__message--to">
            <div class="chat__message-box">
                <div class="chat__message-text">сообщение от пользователя 2 сообщение от пользователя 2 сообщение от пользователя 2</div>
            </div>
            <div class="chat__message-time">21:10</div>
        </div>
    </div>
    <div class="chat__bottom">
        <div class="chat__area">
            <input type="text" class="chat__input" placeholder="Введите сообщение">
            <div class="chat__smile">
                <svg class="chat__smile-icon">
                    <use xlink:href="#b-svg__smile"></use>
                </svg>
            </div>
        </div>
        <button class="chat__button button">Отправить</button>
    </div>
</div>