<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Locator</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="shortcut icon" href="img/favicon.png">
	<import src="g-errors--head"></import>

	<script src="http://code.jquery.com/jquery-2.1.1.min.js" defer></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" defer></script>
 	<script src="https://yabeda.by/assets/api/yabedawdg.js" defer></script>
	<script src="async.app.js" async></script>
    <script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>
	<script src="defer.app.js" defer></script>
</head>
