<head>
	<meta charset="utf-8">

	<title>12Maps</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="shortcut icon" href="img/favicon.png">
    <link rel="canonical" href="$SOME_URL" />
</head>
