<form action="" class="search form form--outside">
    <div class="search__area">
        <input type="text" class="search__input" placeholder="Поиск адресов, организаций, людей">
        <div class="search__info">
            <div class="search__info-active">город поиска ▼</div>
            <div class="search__info-list">
                <div class="search__info-item">Город 1</div>
                <div class="search__info-item">Город 2</div>
                <div class="search__info-item">Город 3</div>
            </div>
        </div>
		<div class="search__live">
			<div class="search__live-cat">
				<div class="search__live-title">Address</div>
				<div class="search__live-item">
					paragraph 1
					<a href="#" class="search__live-link">link</a>
				</div>
				<div class="search__live-item">
					paragraph 1
					<a href="#" class="search__live-link">link</a>
				</div>
				<div class="search__live-item">
					paragraph 1
					<a href="#" class="search__live-link">link</a>
				</div>
				<div class="search__live-item">
					paragraph 1
					<a href="#" class="search__live-link">link</a>
				</div>
			</div>
			<div class="search__live-cat">
				<div class="search__live-title">Address</div>
				<div class="search__live-item">
					paragraph 1
					<a href="#" class="search__live-link">link</a>
				</div>
				<div class="search__live-item">
					paragraph 1
					<a href="#" class="search__live-link">link</a>
				</div>
				<div class="search__live-item">
					paragraph 1
					<a href="#" class="search__live-link">link</a>
				</div>
				<div class="search__live-item">
					paragraph 1
					<a href="#" class="search__live-link">link</a>
				</div>
			</div>
		</div>
    </div>
    <button class="button search__button">
        <span class="search__button-text">Найти</span>
        <svg class="search__button-icon">
            <use xlink:href="#b-svg__zoom-bold"></use>
        </svg>
    </button>
</form>
